* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(255, 253, 243, 1) /* #fffdf3 */;
  font-family: sans-serif;
}
.navigation {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(58, 53, 65, 0.12);
  padding: 12px 120px 12px 120px;
}

.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background-color: rgba(255, 255, 255, 1);
  width: 590px;
  border: 1px solid rgba(241, 241, 241, 1);
  border-radius: 4px;
  padding: 36px;
}

.login-tittle {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 32px;
  height: 110;
  padding: 10px;
  text-align: center;
}

.login-subtitle {
  font-size: medium;
  font-family: sans-serif;
  font-weight: 400px;
  font-size: 16px;
  letter-spacing: 0.2px;
  text-align: center;
  color: rgba(51, 51, 51, 0.6);
  padding: 10px;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.login-email input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 518px;
  height: 48px;
  border: 1px solid rgba(241, 241, 241, 1);
  border-radius: 6px;
  padding: 10px 10px;
  margin: 10px;
}

.label-email {
  color: rgba(74, 80, 92, 1);
  font-weight: 400px;
  letter-spacing: 0.2px;
  font-size: 16px;
  padding: 0 16px 10px 0;
  line-height: 140%;
  margin: 20px;
}

.label-password {
  color: rgba(74, 80, 92, 1);
  font-weight: 400px;
  letter-spacing: 0.2px;
  font-size: 16px;
  padding: 0 16px 10px 0;
  line-height: 140%;
  margin: 20px;
}

.grup-password input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 518px;
  height: 48px;
  border-radius: 6px;
  padding: 10px 10px;
}

.grup-password {
  display: flex;
  flex-direction: row;
  width: 518px;
  height: 48px;
  border: 1px solid rgba(241, 241, 241, 1);
  border-radius: 6px;
  margin: 10px;
}
.grup-password button {
  background-color: transparent;
  border: 1px transparent;
}
.form-lupa {
  display: flex;
  flex-direction: row-reverse;
}

.lupa {
  text-decoration: none;
  color: rgba(51, 51, 51, 0.6);
}
