* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(255, 253, 243, 1);
  font-family: sans-serif;
}

span {
  color: rgba(255, 92, 43, 1);
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.navigation {
  width: 100%;
  height: clamp(74px, 8.3vw, 80px);
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(58, 53, 65, 0.12);
  padding: 12px clamp(24px, 4vw, 30px);
  margin-bottom: clamp(20px, 10vw, 64px);
  padding: 12px 120;
}

.register-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.logo img {
  width: clamp(145px, 12vw, 193px);
}
.register-page {
  display: flex;
  justify-content: center;
  padding: 12px 120px 12px 120px;
}
.register-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: clamp(320px, 50vw, 590px);
  /* height: clamp(886px, 50vw, 893px); */
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  border: 1px solid rgba(241, 241, 241, 1);
  padding: clamp(20px, 5vw, 64px);
  gap: 16px;
}

.register-title {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: clamp(24px, 4vw, 32px);
  text-align: center;
  line-height: 110%;
  letter-spacing: 0;
  color: rgba(34, 35, 37, 1);
}

.register-subtitle {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: clamp(14px, 3vw, 16px);
  text-align: center;
  line-height: 140%;
  letter-spacing: 0.2;
  color: rgba(51, 51, 51, 0.68);
}

.register-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.register-name {
  display: flex;
  flex-direction: column;
}

.label-name {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: rgba(51, 51, 51, 0.68);
  font-size: clamp(14px, 2vw, 16px);
}

.register-name input {
  background-color: transparent;
  border: none;
  outline: none;
  width: clamp(280px, 40vw, 460px);
  height: 43px;
  border: 1px solid rgba(58, 53, 65, 0.12);
  padding: 4px 10px;
  border-radius: 6px;
}

.label-email {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: rgba(51, 51, 51, 0.68);
  font-size: clamp(14px, 2vw, 16px);
}

.register-email input {
  background-color: transparent;
  border: transparent;
  outline: transparent;
  width: clamp(280px, 40vw, 460px);
  height: 43px;
  border: 1px solid rgba(58, 53, 65, 0.12);
  padding: 4px 10px;
  border-radius: 6px;
}

.register-hp {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: rgba(51, 51, 51, 0.68);
  font-size: clamp(14px, 2vw, 16px);
}

.register-hpnumber {
  display: flex;
  flex-direction: row;
}

.register-contry select {
  background-color: transparent;
  border: none;
  outline: none;
  width: clamp(75px, 20vw, 100px);
  height: 43px;
  border: 1px solid rgba(58, 53, 65, 0.12);
  padding: 4px 10px;
  border-radius: 6px;
  margin-right: clamp(15px, 3vw, 22px);
  font-size: clamp(12px, 2vw, 18px);
  letter-spacing: 1px;
}

.register-number input {
  background-color: transparent;
  border: transparent;
  outline: transparent;
  width: clamp(190px, 40vw, 340px);
  height: 43px;
  border: 1px solid rgba(58, 53, 65, 0.12);
  padding: 4px 10px;
  border-radius: 6px;
}

.label-password {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: rgba(51, 51, 51, 0.68);
  font-size: clamp(14px, 2vw, 16px);
}

.input-password {
  display: flex;
  flex-direction: row;
  width: clamp(280px, 40vw, 460px);
  height: 43px;
  border: 1px solid rgba(58, 53, 65, 0.12);
  border-radius: 6px;
}

.input-password input {
  background-color: transparent;
  border: transparent;
  outline: transparent;
  width: clamp(280px, 40vw, 460px);
  height: 43px;
  /* border: 1px solid rgba(58, 53, 65, 0.12); */
  padding: 4px 10px;
  border-radius: 6px;
}

.input-password button {
  background-color: transparent;
  border: 1px transparent;
}

.label-kopassword {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: rgba(51, 51, 51, 0.68);
  font-size: clamp(14px, 2vw, 16px);
}

.input-kopassword {
  display: flex;
  flex-direction: row;
  width: clamp(280px, 40vw, 460px);
  height: 43px;
  border: 1px solid rgba(58, 53, 65, 0.12);
  border-radius: 6px;
}

.register-kopassword input {
  background-color: transparent;
  border: transparent;
  outline: transparent;
  width: clamp(280px, 40vw, 460px);
  height: 43px;
  padding: 4px 10px;
  border-radius: 6px;
}

.input-kopassword button {
  background-color: transparent;
  border: 1px transparent;
}

.form-lupa {
  display: flex;
  flex-direction: row-reverse;
}

.lupa {
  text-decoration: none;
  color: rgba(51, 51, 51, 0.68);
}

/* ==========button======= */

.form-button {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-button .Daftar {
  background-color: rgba(62, 207, 76, 1);
  border: none;
  outline: none;
  width: clamp(280px, 40vw, 460px);
  height: 43px;
  border: 1px solid rgba(241, 241, 241, 1);
  border-radius: 10px;
  color: rgba(255, 255, 255, 1);
  font-size: clamp(14px, 2vw, 16px);
}

.form-button a {
  text-decoration: none;
  display: block;
  background-color: rgba(226, 252, 217, 0.8);
  border: 1px solid rgba(241, 241, 241, 1);
  width: clamp(280px, 40vw, 460px);
  height: 43px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(62, 207, 76, 1);
  font-size: clamp(14px, 2vw, 16px);
}

button:active {
  transform: scale(0.95);
}

.form-button a:active {
  transform: scale(0.95);
}

/* =============atau============ */

.atau {
  display: flex;
  justify-content: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
  font-size: clamp(14px, 2vw, 16px);
  color: rgba(74, 80, 92, 1);
}

.atau::before,
.atau::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: rgba(241, 241, 241, 1);
  margin-top: 10px;
}

.atau::before {
  margin-right: 16px;
}

.atau::after {
  margin-left: 16px;
}

/* ===========G-button======== */
.form-button .google {
  background-color: rgba(255, 255, 255, 1);
  border: transparent;
  outline: transparent;
  width: clamp(280px, 40vw, 460px);
  height: 43px;
  border: 1px solid rgba(241, 241, 241, 1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: clamp(14px, 2vw, 16px);
  line-height: 140%;
  letter-spacing: 0.2px;
  color: rgba(74, 80, 92, 1);
}

.google img {
  margin-right: 5px;
}
